{
    "extends": ["@react-native-community","airbnb-typescript", "prettier", "prettier/@typescript-eslint", "prettier/react"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["tsconfig.json"]
    },
    "ignorePatterns": ["metro.config.js"],
    "plugins": [
        "@typescript-eslint",
        "react-hooks",
        "react-native"
    ],
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error"
    }
}