{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "react-hooks"
    ],
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "semi": [
            "error",
            "always"
        ],
        "quotes": [
            2,
            "single"
        ],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 2
            }
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "never",
                "objects": "always",
                "imports": "never",
                "exports": "never",
                "functions": "never"
            }
        ],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error"
    }
}